@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


#txttransform{
    text-transform: capitalize;/*lowercase - todas em minúsculas, uppercase - todas em maiúscula, capitalize - a primeira letra de cada palavra em maiúscula*/
    text-align: justify;/*Alinhamento de texto - left right center justify*/
    text-indent: 30px;/*recuo de primeira linha*/
    border: 3px solid red;

    /*Padding - espaço dentro da caixa*/
    padding-top: 50px;/*topo - cima*/
    padding-right: 80px; /*Direita*/
    padding-bottom: 90px; /*Inferior*/
    padding-left: 100px; /*Esquerda*/


    padding: 50px;/*4 lados iguais*/
    padding: 50px 100px;/* (top, bottom) (left-right)*/
    padding: 50px 80px 90px 100px;/*4 lados diferentes (top rigth bottom left)*/
    
    /*margin - espaço fora da caixa, entre um elemento e outro*/
    /*margin: auto;*/
    margin-top: 50px;
    margin-right: 90px;
    margin-bottom: 50px;
    margin-left: 90px;

    margin: 50px 90px 180px 30px;/*4 lados diferentes top right bottom left*/
    margin: 50px;/*4 lados iguais*/
    margin: 50px 90px;/* (top bottom) (right-left)*/

    /*Borda - border*/
    border-width: 30px;/*largura da borda*/
    border-style: dashed;/*dotted, double, dashed, solid*/
    border-color: rgb(141, 240, 141);/*cor da borda*/
    border: 30px solid rgb(141, 240, 141);/*border: width style color*/
    border-radius: 10px;/*Arredondamento das vértices*/
}

#txtsombra{
    text-shadow: -2px 0px 3px red;/*horizontal, vertical desfoque cor*/
    font-family: "Roboto", sans-serif;/*Família das fontes*/
    font-weight: bolder;/*peso da fonte - 100 a 900, lighter, bold, bolder*/
    font-size:  1.3em;
    font-variant: small-caps;
    text-indent: 50px;
    font-style: italic;/*normal, italic,oblique*/
    
    /*Shorthand
    font: style variant weight size family*/

    font: italic small-caps bolder 16px "Roboto", sans-serif;


}

h1{
    font-weight: 100;
    font-size: 32px;
}